/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.395);
    margin-bottom: 20px;
  }
  
  .navbar-logo a {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #2AA0CD;
    text-decoration: none;
    letter-spacing: 5px; /* Incrementamos el espaciado entre letras */
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Incrementamos el espacio entre los elementos de la lista */
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px; /* Ajustamos el tamaño de la fuente */
  }
  
  .navbar-login .login-button {
    background-color: #2AA0CD;
    color: white;
    border: none;
    padding: 6px 25px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 4px; /* Añadimos bordes redondeados */
    margin-left: 20px;
  }
  
  .navbar-login .login-button:hover {
    background-color: #2AA0CD;
  }
  