/* Estilos generales */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

/* Estilo para el formulario */
/* form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    box-sizing: border-box;
} */

/* Estilo para los contenedores de entrada (correo, contraseña, etc.) */
.modal-dialog {
    max-width: 900px; /* Puedes ajustar el valor según lo necesites */
    width: 100%;
  }
   
.input-container {
    width: 100%; /* Asegura que el contenedor de entrada ocupe todo el ancho del formulario */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del contenedor */
}

/* Estilo para los botones */
.button {
    background-color: #2AA0CD !important;
    color: white !important;
    border: none !important;
    padding: 10px !important;
    text-align: center !important;
    width: 100% !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    box-sizing: border-box !important; /* Asegura que el padding no afecte el tamaño del botón */
}

/* Cambio de color al pasar el mouse */
.button:hover {
    background-color: #1679a0 !important;
}
