.footer {
    background: linear-gradient(to right, #155067, #2AA0CD);
    color: white;
    padding: 20px 0;
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la ventana */
    position: relative;
    box-sizing: border-box;
    padding-bottom: 60px; /* Añade espacio para el footer-bottom */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: flex-start;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
    border-bottom: 1px solid rgba(255, 255, 255, 0.425); /* Línea blanca en la parte inferior */
  }
  
  .footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 20px; /* Asegura que las secciones tengan el mismo padding */
    box-sizing: border-box;
    min-height: 150px; /* Asegura que todas las secciones tengan la misma altura */
  }
  
  .footer-section:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.384); /* Línea blanca entre secciones */
    height: 230px;
  }
  
  .footer-section h2, .footer-section h3 {
    padding: 10px;
    margin-top: 1px;
  }
  
  .footer-section p, .footer-section a {
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
    color: black;
  }
  
  .subscribe-form {
    display: flex;
    width: 100%; /* Ajusta el ancho en pantallas pequeñas */
    max-width: 600px; /* Ancho máximo */
    margin-top: 1px;
  }
  
  .subscribe-form input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
  }
  
  .subscribe-form button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-color: #00608c00;
    color: white;
    cursor: pointer;
  }
  
  .subscribe-form button:hover {
    background-color: #164253;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 30px; /* Separación entre los iconos */
    margin-top: 50px;
  }
  
  .social-icon {
    opacity: 50%;
    font-size: 45px; /* Tamaño de icono */
    color: white;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #164253;
    width: 100%; /* Asegura que el footer-bottom ocupe todo el ancho de la ventana */
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    position: absolute;
    height: 60px; /* Altura para cubrir el footer */
    overflow: hidden; /* Asegura que no haya desbordamiento */
    margin: 0;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright {
    font-size: 12px;
    text-align: right;
    flex: 1;
  }
  
  /* Media Queries resoluciones zzzz */
  @media (max-width: 768px) {
    .footer-content {
      padding: 0 20px;
      flex-direction: column; /* Alinea los elementos en columna */
      align-items: center;
    }
  
    .footer-section {
      align-items: center;
      margin: 10px 0;
      border-right: none; /* Quita las líneas verticales en pantallas pequeñas */
      border-bottom: 1px solid white; /* Añade líneas horizontales entre secciones */
    }
  
    .footer-section:last-child {
      border-bottom: none;
    }
  
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  
    .footer-links {
      margin-bottom: 10px;
    }
  
    .footer-copyright {
      text-align: center;
    }
  
    .subscribe-form {
      flex-direction: column;
    }
  
    .subscribe-form input,
    .subscribe-form button {
      width: 100%;
      margin: 5px 0;
    }
  }
  
  @media (max-width: 480px) {
    .footer-content {
      padding: 0 10px;
    }
  
    .subscribe-form input,
    .subscribe-form button {
      font-size: 16px;
    }
  
    .social-icon {
      font-size: 35px; /* Responsivo pantalla pequeña zzzz */
    }
  }
  